body {
    min-height: 100vh;
    overflow: hidden;
}

h1 {


    border: 1px solid black;
    padding: 10px;
    background: rgb(63, 251, 88);
    background: -moz-radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background: -webkit-radial-gradient(circle, rgb(148, 251, 63) 0%, rgba(252, 70, 107, 1) 100%);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb", endColorstr="#fc466b", GradientType=1);
    border-radius: 25px;
    width: 320px;
    height: 50px;
    margin: 25% auto;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

}